@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Ubuntu+Condensed&display=swap');

body {
    transition: 0.3s;
    margin: 0;
    padding: 0;
    font-family: Ubuntu Condensed;
}

h1 {
    font-size: 6.5rem;
    
}

h2 {
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 50px;
}

ul {
    display: box;
}
table{
    margin: auto 30px auto ;

}
tbody {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


td {
    width: 15rem;
    width: 15rem;
}

footer {
    text-align: center;
    opacity: 50%;
}

.navbar {
    width: 20%;
    transition: 0.3s;
    left: 75%;
    top: 7px;
    position: fixed;
}

.menu-element {
    float: left;
    margin: 2px;
    font-size: 20px;
}

/* LIGHT */
.sun {
    position: absolute;
    top: 7px;
    left: 10px;
}

.switch {
    left: 10px;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(70, 68, 68);
    position: relative;
}

.flicker {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 5px;
    left: 3px;
    transition: 0.3s;
    z-index: 2;
    box-shadow:
        inset 4px 4px 4px rgb(255 255 255),
        inset -4px -4px 4px rgba(47, 46, 47, 0.85);
}

.sunIco {
    width: 40px;
    height: 40px;
    color: rgb(217, 223, 190);
}

/* DARK */
.dark {
    background-color: rgb(59, 58, 60);
    transition: 0.3s;
    color: blanchedalmond;
}

.moon {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 0 0 rgb(217, 223, 190);
    position: absolute;
    top: 6px;
    left: 48px;
}

.dark .flicker {
    left: 47px;
}

.dark .nav-link,
.dark .nav-link.active,
.dark .navbar-toggler-icon {
    color: blanchedalmond;
}

/* Main */
.main-text {
    padding: 10% 25px;
}

.main-div {
    width: 100%;
    height: 20%;
}

.lang-img {
    width: 100%;
    height: 100%;
    margin: 20px;
}

#img2{
    width: 70%;
    height: 70%;
}
#img1{
    width: 110%;
    height: 110%;
}

.img-table {
    padding: 5% 25px;
}

/* About */
.aboutMe {
    height: 800px;
}

/* Portfolio */

#main_box {
    display: flex;
    width: 100%;
    height: 75vh;
    margin: 50px auto 0 auto;
    justify-content: space-around;
    box-shadow: 2px 2px 15px 1px #000000;
    -webkit-box-shadow: 2px 2px 15px 1px #000000;
}

.box {
    width: 25%;
    height: 100%;
    font-size: 100px;
    text-align: center;
    line-height: 450px;
    transition: 1s;
    cursor: pointer;
    color: antiquewhite;
    
}
@media(min-width: 1200px) {
.box:hover {
    width: 50%;
}
}

#box_1 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-macquarie-71208_1920.jpg');
}

#box_2 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/beach-2089959_1280.jpg');
}

#box_3 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/lake-696098_1920.jpg');
}

#box_4 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/769286/forest-208517_1280.jpg');
}

/* Contact */
.contact {
    margin-top: 50px;
    height: 50vh;
}

.contact a {
    color: black;
    transition: 0.3s;
}

.dark .contact a {
    color: antiquewhite;
    transition: 0.3s;
}

.icon {
    font-size: 60px;
    margin: 10px 10px 10px 0;   
}

form { 
    width: 80%;
    padding: 20px;
}



@media(max-width: 768px) {
    table{
        margin: auto ;
        padding: auto;
    } 
    #main_box {
        width: 100%;
        height: 90vh;
        text-align: center;
        justify-content: space-around;
        box-shadow: 2px 2px 15px 1px #000000;
        -webkit-box-shadow: 2px 2px 15px 1px #000000;
        flex-direction: column;
        
        
    }
    .box {
        
        width: 100%;
        height: 25%;
        font-size: 80px;
        text-align: center;
        line-height: 150px;
        transition: 1s;
        cursor: pointer;
        color: antiquewhite;
    }
    .box:hover{
        height: 150%;
    }
}